<!-- Start Breadcrumbs -->
<app-breadcrumbs *ngIf="permissionIsLoadded && internalPermission?.includes(permissionData.View)" [title]="pagesname.Customers" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<!-- End Breadcrumbs -->

<!-- Start Breadcrumbs -->
<div class="row" *ngIf="permissionIsLoadded && internalPermission?.includes(permissionData.View)">
    <div class="col-12">
        <div class="card">
            <div class="card-body p-0">
              <div class="p-4">
                <ng-container *ngIf="permissionIsLoadded && internalPermission?.includes(permissionData.Add)">
                    <button (click)="downloadFile()" class="btn btn-primary">Download Template</button>
                    <dx-file-uploader
                    [multiple]="true"
                    uploadMode="useButtons"
                    uploadUrl="https://js.devexpress.com/Demos/NetCore/FileUploader/Upload"
                    [allowedFileExtensions]="['.xlsx','xls']"
                    (onValueChanged)="onFileSelected($event)"
                  >
                  </dx-file-uploader>
                </ng-container>
              <dx-data-grid
              id="grid"
              [dataSource]="dataSource"
              [repaintChangesOnly]="true"
              [showBorders]="true"
              [columnAutoWidth]="true"
              (onExporting)="exportGrid($event)"
              (onRowValidating)="onRowValidating($event)"
            >
              <dxo-scrolling mode="standard" [useNative]="false"></dxo-scrolling>
                <dxo-editing
                  mode="cell"
                  [allowAdding]="(permissionIsLoadded && internalPermission?.includes(permissionData.Add)) ?? false"
                  [allowUpdating]="(permissionIsLoadded && internalPermission?.includes(permissionData.Update)) ?? false"
                >
                </dxo-editing>
                <dxo-selection mode="multiple"></dxo-selection>
                  <dxi-column dataField="customersName">
                    <dxi-validation-rule type="required" message="customers Name is required"></dxi-validation-rule>
                  </dxi-column>
                  <dxi-column dataField="customerPhone1">
                    <dxi-validation-rule type="required" message="Phone1 is required"></dxi-validation-rule>
                    <dxi-validation-rule type="pattern" pattern="^01[0125][0-9]{8}$" message="Phone number must be a valid Egyptian number (e.g., 01012345678)">
                    </dxi-validation-rule>
                  </dxi-column>
                  <dxi-column dataField="customerPhone2">
                    <dxi-validation-rule type="required" message="Phone2 is required"></dxi-validation-rule>
                    <dxi-validation-rule type="pattern" pattern="^01[0125][0-9]{8}$" message="Phone number must be a valid Egyptian number (e.g., 01012345678)">
                    </dxi-validation-rule>
                  </dxi-column>
                  <dxi-column dataField="contactPersonName" caption="Contact Person Name">
                    <dxi-validation-rule type="required" message="Contact Person Name is required"></dxi-validation-rule>
                  </dxi-column>
                  <dxi-column dataField="address">
                    <dxi-validation-rule type="required" message="Address is required"></dxi-validation-rule>
                  </dxi-column>
                  <dxi-column dataField="companyId" caption="Company">
                    <dxo-lookup
                      [dataSource]="companyData"
                      valueExpr="id"
                      displayExpr="name"
                    ></dxo-lookup>
                    <dxi-validation-rule type="required" message="Company is required"></dxi-validation-rule>
                  </dxi-column>
                  <dxi-column dataField="email">
                    <dxi-validation-rule type="required" message="Email is required"></dxi-validation-rule>
                    <dxi-validation-rule type="email" message="Value must be a valid email"></dxi-validation-rule>
                  </dxi-column>
                <dxo-paging [pageSize]="10"> </dxo-paging>
                <dxo-pager
                  [visible]="true"
                  
                  [showPageSizeSelector]="showPageSizeSelector"
                  [showInfo]="showInfo"
                  [showNavigationButtons]="showNavButtons"
                >
                </dxo-pager>
                <dxo-export 
                [enabled]="true"
                [formats]="['xlsx', 'pdf']"
                [allowExportSelectedData]="true"
                ></dxo-export>
                <dxo-filter-row [visible]="true"></dxo-filter-row>
                <dxo-search-panel [visible]="true"></dxo-search-panel>
                <dxo-group-panel [visible]="true"></dxo-group-panel>
              </dx-data-grid>
              </div>
            </div> <!-- end card-body-->
        </div>
    </div> <!-- end col-->
</div> 
<!-- End Breadcrumbs -->

<div *ngIf="permissionIsLoadded && !internalPermission?.includes(permissionData.View)" class="alert alert-danger">
You Don't Have Permission For This Page Please Contact With Your Manager
</div>