<div class="row" *ngIf="permissionIsLoadded && internalPermission?.includes(permissionData.View)">
    <div class="col-12">
      <div class="card">
        <div class="card-body p-0">
          <div class="p-4">
            <dx-data-grid
              id="grid"
              [dataSource]="dataSource"
              [repaintChangesOnly]="true"
              [showBorders]="true"
              [columnAutoWidth]="true"
              (onExporting)="exportGrid($event)"
            >
              <dxo-scrolling mode="standard" [useNative]="false"></dxo-scrolling>
              <dxo-editing
                mode="cell"
                [allowAdding]="
                  permissionIsLoadded && internalPermission?.includes(permissionData.Add) ?? false
                "
                [allowUpdating]="
                  permissionIsLoadded && internalPermission?.includes(permissionData.Update) ?? false
                "
              >
              </dxo-editing>
              <dxo-selection mode="multiple"></dxo-selection>
              <dxi-column
                dataField="holidayDate"
                dataType="datetime"
                caption="Date"
              ></dxi-column>
              <dxi-column
                dataField="holidayCreatedBy"
                caption="Created By"
              ></dxi-column>
              <!-- <dxi-column
              dataField="warehouses"
              caption="Warehouses"
              [width]="200"
              [allowSorting]="false"
              cellTemplate="warehouseTemplate"
            >
              <div *dxTemplate="let data of 'warehouseTemplate'">
                <dx-tag-box
                  [dataSource]="warehouseSource"
                  displayExpr="name"
                  valueExpr="id"
                  [(value)]="data.data.warehouses"
                  [showSelectionControls]="true"
                  [maxDisplayedTags]="3"
                  [showMultiTagOnly]="false"
                  applyValueMode="useButtons"
                  [searchEnabled]="true"
                  (onValueChanged)="onWarehouseChanged(data, $event)"
                ></dx-tag-box>
              </div>
              
            </dxi-column> -->
            
              <dxi-column
                dataField="holidayIsActive"
                dataType="boolean"
                caption="Is Active"
              ></dxi-column>
              <dxo-paging [pageSize]="10"> </dxo-paging>
              <dxo-pager
                [visible]="true"
                [showPageSizeSelector]="showPageSizeSelector"
                [showInfo]="showInfo"
                [showNavigationButtons]="showNavButtons"
              >
              </dxo-pager>
              <dxo-export
                [enabled]="true"
                [formats]="['xlsx', 'pdf']"
                [allowExportSelectedData]="true"
              ></dxo-export>
              <dxo-filter-row [visible]="true"></dxo-filter-row>
              <dxo-search-panel [visible]="true"></dxo-search-panel>
              <dxo-group-panel [visible]="true"></dxo-group-panel>
            </dx-data-grid>
          </div>
        </div>
        <!-- end card-body-->
      </div>
    </div>
    <!-- end col-->
  </div>

  <div *ngIf="permissionIsLoadded && !internalPermission?.includes(permissionData.View)" class="alert alert-danger">
    You Don't Have Permission For This Page Please Contact With Your Manager
    </div>